@import url(https://fonts.googleapis.com/css?family=Rubik);




  .items {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }
  .item {
    display: inline-block;
    background: rgb(235, 135, 190);
    height: 250px;
    width: 400px;
    margin: 2em 1em;
  }
  

